.home-header-container {
    height: 120px;
    width: 100%;
    padding: 0 120px;
    background: url('../../assets/images/bg-top.png');
    position: sticky;
    top: 0;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 10%;
            display: flex;
            align-items: center;
            cursor: pointer;
            padding-top: 35px;

            i {
                font-size: 25px;
                color: grey;

                &:hover {
                    color: #8a1616;
                }
            }
        }

        .center-content {
            width: 65%;
            display: flex;
            align-items: center;
            gap: 40px;
            padding-top: 35px;

            .child-content {
                cursor: pointer;



                .subs-title {
                    font-weight: 600;
                    color: #525252;
                    font-family: unset;
                    font-size: 18px;

                    &:hover {
                        color: #8a1616;

                    }
                }
            }

        }

        .right-content {
            width: 25%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: 35px;

            .language-vn {
                cursor: pointer;
                opacity: 0.2;

                &.active {
                    opacity: 1;
                    color: red;
                }

                &:hover {
                    opacity: 0.8;
                }
            }

            .language-en {
                cursor: pointer;
                margin: 0 10px;
                opacity: 0.2;

                &.active {
                    opacity: 1;
                    color: blue;
                }

                &:hover {
                    opacity: 0.8;
                }
            }

        }
    }
}

.home-header-banner {
    background-image: url('../../assets/images/bg_c_bricks.png'), linear-gradient(rgba(126, 126, 126, 0.25), rgba(255, 255, 255, 0.1));
    height: 447px;
    background-position: center;
    display: flex;
    flex-direction: column;

    .content-up {

        height: 60%;
        padding-top: 15px;

        .title1 {
            text-align: center;
            font-size: 35px;
            font-weight: 500;
            font-family: cursive;
            text-shadow: 1px 1px 1px #333;
            color: white;
            margin-bottom: 10px;
            margin-top: 30px;
        }

        .title2 {
            text-align: center;
            font-size: 35px;
            font-weight: 600;
            font-family: cursive;
            text-shadow: 1px 1px 1px #333;
            color: white;
            margin-bottom: 35px;
        }

        .search {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 10px;
            border-radius: 5px;
            background: white;

            i {
                margin: 0 5px;
                color: #6f6f6f;

            }

            input {
                height: 30px;
                width: 500px;
                background: transparent;
                outline: none;
                border: none;
                font-size: 16px;
                color: #6f6f6f;
                margin-left: 10px;
            }
        }
    }

    .content-down {
        height: 40%;
        display: flex;
        align-items: flex-end;
        justify-content: center;


        .options {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            gap: 20px;
            padding-bottom: 20px;

            .option-child {
                cursor: pointer;
                width: 125px;


                .icon-child {
                    width: 50px;
                    height: 50px;
                    background-color: #d27630;
                    border-radius: 50%;
                    margin: 0 auto;

                    .icon-img {

                        width: 32px;
                        height: 32px;
                        position: relative;
                        right: -50%;
                        border: none;
                        transform: translateX(-50%) translateY(-50%);
                        top: 50%;
                    }

                    .img1 {
                        background: url('../../assets/images/video.png');
                    }

                    .img2 {
                        background: url('../../assets/images/cinema.png');
                    }

                    .img3 {
                        background: url('../../assets/images/currency.png');
                    }

                    .img4 {
                        background: url('../../assets/images/revenue.png');
                    }

                    .img5 {
                        background: url('../../assets/images/bill.png');
                    }

                    .img6 {
                        background: url('../../assets/images/accountant.png');
                    }

                }

                .text-child {
                    font-size: 16px;
                    font-weight: 500;
                    font-family: unset;
                    color: #ffff;

                    &:hover {
                        color: #97533a;
                    }

                }
            }

        }
    }

}